In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow import keras
import numpy as np
import os
from bs4 import BeautifulSoup
import re
from nltk.corpus import stopwords

print(tf.__version__)
print(keras.__version__)

1.13.1
2.2.4-tf

In [2]:
tf.enable_eager_execution()

In [4]:
train = pd.read_csv('./word2vec-nlp-tutorial/labeledTrainData.tsv', header=0, delimiter='\t', quoting=3)
test = pd.read_csv('./word2vec-nlp-tutorial/testData.tsv', header=0, delimiter='\t', quoting=3)
unlabeled_train = pd.read_csv('./word2vec-nlp-tutorial/unlabeledTrainData.tsv', header=0, delimiter='\t', quoting=3)

print ("Read %d labeled train reviews, %d labeled test reviews, " \
 "and %d unlabeled reviews\n" % (train["review"].size,  
 test["review"].size, unlabeled_train["review"].size ))

Read 25000 labeled train reviews, 25000 labeled test reviews, and 50000 unlabeled reviews

In [5]:
def clean_review(review):
    #HTML 제거
    review_text = BeautifulSoup(review).get_text()
    
    #정규식 이용해 기호, 숫자 없애준다.
    review_text = re.sub("[^a-zA-Z]", " ", review_text)
    
    #lower case로 바꿔줌
    words = review_text.lower().split()
    
    #stop words 없애줌    
    stops = set(stopwords.words('english'))
    words = [w for w in words if not w in stops]

In [6]:
df1 = pd.read_csv('./word2vec-nlp-tutorial/labeledTrainData.tsv', delimiter='\t')
df1 = df1.drop(['id'], axis=1)
df1.head()

   sentiment                                             review
0          1  With all this stuff going down at the moment w...
1          1  \The Classic War of the Worlds\" by Timothy Hi...
2          0  The film starts with a manager (Nicholas Bell)...
3          0  It must be assumed that those who praised this...
4          1  Superbly trashy and wondrously unpretentious 8...

In [7]:
df1 = df1.reset_index(drop=True)
df1.head()
test.head()
df1 = df1[['review', 'sentiment']]
df1.head()

                                              review  sentiment
0  With all this stuff going down at the moment w...          1
1  \The Classic War of the Worlds\" by Timothy Hi...          1
2  The film starts with a manager (Nicholas Bell)...          0
3  It must be assumed that those who praised this...          0
4  Superbly trashy and wondrously unpretentious 8...          1

In [8]:
import re

# 원형 복원
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

stop_words = set(stopwords.words("english"))
print(len(stop_words))
print(len(stopwords.words("english")))
lemmatizer = WordNetLemmatizer()

179
179

In [9]:
def clean_text(text):
    text = re.sub(r'[^\w\s]', '', text, re.UNICODE)
    #print(text)
    text = text.lower()
    #print(text)
    text = [lemmatizer.lemmatize(token) for token in text.split(" ")]
    #print(text)
    text = [lemmatizer.lemmatize(token, "v") for token in text]
    #print(text)
    text = [word for word in text if not word in stop_words]
    #print(text)
    text = " ".join(text)
    #print(text)
    return text

In [10]:
text = 'With all this stuff going down at the moment w'
clean_text(text)

'stuff go moment w'

In [11]:
df1['Processed_Reviews'] = df1.review.apply(lambda x: clean_text(x))
df1.head()

,review,sentiment,Processed_Reviews
0,With all this stuff going down at the moment w...,1,stuff go moment mj ive start listen music watc...
1,"\The Classic War of the Worlds\"" by Timothy Hi...",1,classic war world timothy hines entertain film...
2,The film starts with a manager (Nicholas Bell)...,0,film start manager nicholas bell give welcome ...
3,It must be assumed that those who praised this...,0,must assume praise film greatest film opera ev...
4,Superbly trashy and wondrously unpretentious 8...,1,superbly trashy wondrously unpretentious 80 ex...